{% assign string_list = 'Wataru, Szobo, Macca, Ryan, Curtis' %}
{% assign string = string_list | split: ',' %}
<ul>
  {% for name in string %}
  {% if name == 'Szobo' %} 
  {% endif %}
    <li>{{ name }}</li>
  {% endfor %}
</ul>