{% assign collection = collections['new-collection'] %}
{{ collection.title }}
<ul>
    {% for product in collection.products %}
<li> {{ product.title }} - {{ product.price | money }} </li>
    {% endfor %}
</ul>