{% assign collection = collections['new-collection'] %}
{{ collection.title }}
<ul>
    {% for product in collection.products %}
    <a href="{{ product.url }}">
    <li> {{ product.title }} - {{ product.price | money }} </li>
    </a>
    {% endfor %}
</ul>