{% assign collection = collections['all'] %}
{{ collection.title }}
<ul>
    {% for product in collection.products %}
    <a href="{{ product.url }}">
    <li> {{ product.title }} - {{ product.price | money }} </li>
    {% unless product.available %}
        (SOLD OUT!)
    {% endunless %}
    </a>
    {% endfor %}
</ul>